@function rem($px){
	@return $px/108px*1rem;
}

// 首页头部
.indexHeader{
	position: fixed;
	top:0;
	left:0;
	width: 100%;	
	height: rem(120px);
	background: #d43d3d;
	.top_title{
		display: flex;
		line-height: rem(120px);
		.logo{
			font-size: rem(60px);
			color: #FFF;
			margin-left: rem(45px);
		}
		ul{
			display: flex;
			align-items:center;
			background: #f6f5f4;
			height: rem(85px);
			margin-top: rem(18px);
			margin-left: rem(30px);
			margin-right: rem(20px);
			border-radius: rem(15px);
			flex: 1;
			li{
				color: #707070;
				font-size: rem(45px);	
				padding: 0 rem(10px);	
				span{
					padding: 0 rem(5px);	
					font-size: rem(50px);
				}
			}	
		}
	}
}

// 底部导航
.indexFooter{
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: rem(130px);
	border-top: rem(1px) solid #e8e8e8;
	background: #f4f5f6;
	color: #505050;
	li{
		width: 25%;
		text-align: center;
		i.a{
			font-size: rem(60px);
		}
		i.b{
			font-size: rem(60px);
		}
		i.c{
			font-size: rem(60px);
		}
		i.d{
			font-size: rem(60px);
		}
		p{
			margin-top: rem(5px)
		}
	}	
}

// 首页头部导航
.indexNav{
	width: 100%;
	height: rem(110px);
	border-bottom: rem(1px) solid #e8e8e8;
	margin-top: rem(120px);
}