<div class="myBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li class="myFont1" id="fontColor">电视剧</liclass>
                    <li><a href="" class="myFont" id="fontColor">影视大全</a></li>
                    <li><a href="" class="myFont" id="fontColor">搜狗搜索</a></li>
                    <li><a href="" class="myFont" id="fontColor">迷途影视网</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="myFont1" id="fontColor">电影</liclass>
                    <li><a href="" class="myFont" id="fontColor">电影下载</a></li>
                    <li><a href="" class="myFont" id="fontColor">电影下载</a></li>
                    <li><a href="" class="myFont" id="fontColor">爱上电影网</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="myFont1" id="fontColor">小品</liclass>
                    <li><a href="" class="myFont" id="fontColor">全书网</a></li>
                    <li><a href="" class="myFont" id="fontColor">看吧123</a></li>
                    <li><a href="" class="myFont" id="fontColor">土豪网</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="myFont1" id="fontColor">相声</liclass>
                    <li><a href="" class="myFont" id="fontColor">全书网</a></li>
                    <li><a href="" class="myFont" id="fontColor">看吧123</a></li>
                    <li><a href="" class="myFont" id="fontColor">土豪网</a></li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <p class="text-center clearFloat">免责声明:如果侵犯了你的权益，请发邮件至：adm356#163.com
                我们会及时删除侵权内容，谢谢合作！</p><div style="display:none"></div>
            <p class="text-center">Copyright © 2015 www.wo23.com. All Rights Reserved.</p>
    </div>
</div>
</body>
</html>