<% include header_min%>
<div class="container">
    <h1 class="text-center fontStyle">注册</h1>
    <hr>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputText3" class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">确认密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input type="submit" class="btn btn-default" id="register" value="注册">
                        <a href="/login">已有账号去登录</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
    $('#register').click(function(){
        if($('#password').val()===$('#password1').val()){
            $.ajax({
                url:'/doRegister',
                type:'post',
                data:{
                    username:$('#username').val(),
                    password:$('#password').val()
                },
                success:function(response){
                    location.href = '/login';
                },
                error:function(){
                    location.href = '/register';
                }
            })
        }else{
            alert('两次密码输入不一致')
        }

    })
</script>
<% include footer_min%>